<form action="https://submit-form.com/zHio93rn">
  <label for="name">What's their name?*</label>
  <br />
  <input type="text" id="name" name="name" placeholder="" required="true" />
  <br /> <br /> <label for="message">(Optional) What else can you tell me about them?</label>
  <br />
  <textarea
    id="message"
    name="message"
    placeholder=""
    required="false"
    style="width: 80%;"
  ></textarea>
  <br />
  <br />
  <label for="email">(Optional) Share your email and I'll send you a note when the article's published.</label>
  <br />
  <input type="email" id="email" name="email" placeholder="" required="false" />
  <br />
  <br />
  <button type="submit">Send suggestion</button>
  <input
    type="hidden"
    name="_redirect"
    value="https://onestar.world/submission-ty"
  />
</form>

