<form action="https://submit-form.com/zHio93rn">
  <label for="name">What's their name?*</label>
  <br />
  <input type="text" id="name" name="name" placeholder="" required="true" />
  <br /> <br /> <label for="message">(Optional) What else can you tell me about them?</label>
  <br />
  <textarea
    id="message"
    name="message"
    placeholder=""
    required="false"
    style="width: 80%;"
  ></textarea>
  <br />
  <br />
  <label for="email">(Optional) Share your email and I'll send you a note when the article's published.</label>
  <br />
  <input type="email" id="email" name="email" placeholder="you@example.com" required="false" />
  <br />
  <br />
  <button type="submit">Send suggestion</button>
  <input
    type="hidden"
    name="_redirect"
    value="https://onestar.world/submission-ty"
  />
</form>

<style type="text/css">
form {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
form input {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

form button {
  background-color: #ffc200;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
}
</style>
