---
layout: default
---

<header class="site-masthead">
  <h1 class="smol-header"><a href="/">One ☆ Star</a></h1>
</header>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% if page.title != "" %}
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title }}
    </h1>
    <!-- Post Bio -->
    {% if page.bio %}
    <p class="bio">{{ page.bio }}</p>
    {% endif %}

    <hr />

  {% endif %}


    <!-- Rating -->
    {% if page.rating %}
    <div class="rating mb-4 d-flex align-items-center">
        <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
    </div>
    {% endif %}

    <!-- Post Featured Image -->
    {% if page.image %}

    {% if site.lazyimages == "enabled" %}
    <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% else %}
    <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% endif %}

    {% endif %}
    <!-- End Featured Image -->


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

</article>
